<a href="https://colab.research.google.com/github/cpython-projects/da_2603/blob/main/Lesson_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
x = [1, 2, 3, 4, 5]
print(x)
x = [1, 1.1, 'Hello', [1, 2, 3, 4]]
print(x)
x = []
print(x)

text = 'Hello'
x = list(text)
print(x)

[1, 2, 3, 4, 5]
[1, 1.1, 'Hello', [1, 2, 3, 4]]
[]
['H', 'e', 'l', 'l', 'o']

In [11]:
x = [1, 2, 3]
y = [4, 5, 6]


res = x + y
print(res)

res = x * 3
print(res)

x = [0] * 10
print(x)

print(0 in x)
print(20 not in x)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
True
True

In [17]:
x = [10, 2, 3, 4, 5]

y = len(x)
print(y)

y = sum(x)
print(y)

y = min(x)
print(y)

y = max(x)
print(y)

y = sorted(x)
print(y)

y = sorted(x, reverse=True)
print(y)

5
24
2
10
[2, 3, 4, 5, 10]
[10, 5, 4, 3, 2]

In [21]:
x = [100, 20, 30, 4, 5, 6, 7, 8, 9, 10]

mean = sum(x) / len(x)
print(mean)

res = sorted(x)
print(res)

print((res[4] + res[5]) / 2)

19.9
[4, 5, 6, 7, 8, 9, 10, 20, 30, 100]
8.5

In [25]:
x = [1, 2, 3]

print(x[1])
x[0] = 100
print(x)

2
[100, 2, 3]

In [34]:
months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
emp_1 = [894, 701, 660, 157, 655, 319, 438, 576, 935, 329, 946, 9898]
emp_2 =[3081, 4429, 8362, 4920, 3602, 7271, 4056, 2879, 8845, 4180, 6961, 3818]

### Сотрудник 1

In [35]:
avg = sum(emp_1) / len(emp_1)
print(f'Avg is {avg:.2f}')

Avg is 1375.67

In [36]:
median = sorted(emp_1)
print(median)
if len(median) % 2 == 1:
    print(median[len(median) // 2])
else:
    print((median[len(median) // 2 - 1] + median[len(median) // 2]) / 2)

[157, 319, 329, 438, 576, 655, 660, 701, 894, 935, 946, 9898]
657.5

In [37]:
avg_part_1 = sum(emp_1[:6]) / 6
avg_part_2 = sum(emp_1[6:]) / 6
print(f'Avg part 1 is {avg_part_1:.2f}')
print(f'Avg part 2 is {avg_part_2:.2f}')

Avg part 1 is 564.33
Avg part 2 is 2187.00

In [38]:
min_salary, max_salary = min(emp_1), max(emp_1)
print(f'Min salary is {min_salary}')
print(f'Max salary is {max_salary}')
print(f'Salary difference is {max_salary - min_salary}')

Min salary is 157
Max salary is 9898
Salary difference is 9741

### Сотрудник 2