<a href="https://colab.research.google.com/github/cpython-projects/da_2603/blob/main/lesson_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
x = [1, 2, 2, 3, 4, 4, 4, 5]

In [6]:
x.count(20)

0

In [7]:
x.append(50)
print(x)

[1, 2, 2, 3, 4, 4, 4, 5, 50]

In [8]:
y = ['Hello', 'world', 'Python']
x.extend(y)

print(x)

[1, 2, 2, 3, 4, 4, 4, 5, 50, 'Hello', 'world', 'Python']

In [9]:
x = [1, 2, 3]
y = [4, 5, 6]

z = x + y

print(x)
print(y)
print(z)

[1, 2, 3]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [10]:
x = [1, 2, 3]
y = [4, 5, 6]

x.extend(y)

print(x)
print(y)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]

In [11]:
x = [1, 2, 3]
x.extend('Python')

print(x)

[1, 2, 3, 'P', 'y', 't', 'h', 'o', 'n']

In [12]:
x.clear()
print(x)

[]

In [15]:
x = [1, 2, 3, 4, 5, 6, 2]
x.index(2)

1

In [18]:
if 30 in x:
  print(x.index(30))
else:
  print('30 is not in the list')

30 is not in the list

In [19]:
x = [10, 20, 30, 40]
x.insert(1, 'Hello')
print(x)

[10, 'Hello', 20, 30, 40]

In [20]:
x = [1, 2, 3, 4]
y = x.pop()

print(x)
print(y)

[1, 2, 3]
4

In [21]:
y = x.pop(0)

print(x)
print(y)

[2, 3]
1

In [22]:
x.remove(2)
print(x)

[3]

In [23]:
x = [1, 2, 3, 4, 5]
x.reverse()
print(x)

[5, 4, 3, 2, 1]

In [25]:
x = [1, 2, 3, 4, 5]
y = x[::-1]
print(y)
print(x)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [27]:
x = [4, 3, 2, 6, 7, 8, 1]
x.sort(reverse=True)

print(x)

[8, 7, 6, 4, 3, 2, 1]

In [28]:
x = [4, 5, 7, 3, 9, 10]

y = sorted(x, reverse=True)

print(x)
print(y)

[4, 5, 7, 3, 9, 10]
[10, 9, 7, 5, 4, 3]

In [ ]:
print(1)
print(2)
print(3)
print(4)
print(5)

In [31]:
x = [1, 2, 3, 4, 5, 10, 6, 7, 8, 9, 10]

i = 0
while i < len(x) and x[i] >= 0:
  print(x[i])
  i += 1

1
2
3
4
5
10
6
7
8
9
10

In [32]:
start, stop = int(input('start>>')), int(input('stop>>'))

while start <= stop:
  print(start)
  start += 1

start>>5
stop>>10
5
6
7
8
9
10

In [33]:
while True:
  ans = int(input('n>>'))
  if ans < 0:
    break

n>>2
n>>3
n>>45
n>>34
n>>-12

In [34]:
x = []

while True:
  ans = input('n / exit >>')
  if ans == 'exit':
    break

  ans = int(ans)
  x.append(ans)

print(x)

n / exit >>2
n / exit >>3
n / exit >>4
n / exit >>5
n / exit >>exit
[2, 3, 4, 5]

In [36]:
names = ["Анна", "Борис", "Виктор", "Галина", "Дмитрий", "Елена", "Жанна"]
salaries = [45000, 52000, 48000, 61000, 57000, 49000, 53000]

i = 0
while i < 3:
  max_salary = max(salaries)
  max_salary_index = salaries.index(max_salary)
  max_salary_name = names[max_salary_index]

  print(max_salary_name)
  names.remove(max_salary_name)
  salaries.remove(max_salary)
  i += 1

Галина
Дмитрий
Жанна

In [39]:
x = [12, 23, -34, 56, -67, 87, -65]
y = []
for item in x:
  if item > 0:
    y.append(item)

print(y)

[12, 23, 56, 87]

In [40]:
text = 'Hello, world'

for char in text:
  print(char)

H
e
l
l
o
,

w
o
r
l
d

In [41]:
x = []

i = 0
while i < 5:
  ans = int(input('n>>'))
  x.append(ans)
  i += 1

print(x)

n>>3
n>>4
n>>5
n>>6
n>>7
[3, 4, 5, 6, 7]

In [42]:
x = []
for i in range(5):
  ans = int(input('n>>'))
  x.append(ans)

print(x)

n>>5
n>>5
n>>6
n>>4
n>>3
[5, 5, 6, 4, 3]

In [43]:
stidents = ['Petrov', 'Ivanov']


for student in stidents:
  print(student)

Petrov
Ivanov

In [44]:
x = [1, 2, 3, 4, 6, 12, 23, 34]
y = [item for item in x if item % 2 == 0]
print(y)

[2, 4, 6, 12, 34]

In [45]:
import random

x = [random.randint(1, 10) for _ in range(20)]
print(x)

[9, 4, 9, 10, 4, 2, 8, 4, 10, 6, 5, 7, 5, 2, 7, 4, 4, 2, 2, 8]

In [46]:
salary = [2, 3, 4, 5, 6, 7, 4, 3, 2]
tax_rate = 0.4
netto_salary = [item * (1 - tax_rate) for item in salary]

print(netto_salary)

[1.2, 1.7999999999999998, 2.4, 3.0, 3.5999999999999996, 4.2, 2.4, 1.7999999999999998, 1.2]