<a href="https://colab.research.google.com/github/cpython-projects/da_2603/blob/main/lesson_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import random

In [10]:
random.randint(1, 10)

1

In [12]:
random.randrange(1, 10)

4

In [15]:
random.random()

0.2381865121524639

In [18]:
price = float(input('price>>'))
if price > 2000:
  price *= 0.9
  print('You get discount')

print(f'Price: {price:.2f}')

price>>1000
Price: 1000.00

In [23]:
price = float(input('price>>'))

if price > 2000:
  price *= 0.85
else:
  price *= 0.95

print(f'Price: {price:.2f}')

price>>1000
Price: 950.00

In [25]:
price = float(input('price>>'))

if price > 2000:
  price *= 0.85
else:
  if price > 1000:
    price *= 0.9
  else:
    price *= 0.95

print(f'Price: {price:.2f}')

price>>100
Price: 95.00

In [26]:
price = float(input('price>>'))

if price > 2000:
  price *= 0.85
elif price > 1000:
  price *= 0.9
else:
  price *= 0.95

print(f'Price: {price:.2f}')

price>>2000
Price: 1800.00

In [27]:
price = float(input('price>>'))

if price > 2000:
  price *= 0.85
elif price > 1000:
  price *= 0.9

print(f'Price: {price:.2f}')

price>>1000
Price: 1000.00

In [30]:
a = int(input('a>>'))
b = int(input('b>>'))

print(a == b)
print(a != b)

print(a > b)
print(a < b)

print(a >= b)
print(a <= b)

a>>12
b>>23
False
True
False
True
False
True

Есть девятиэтажный дом, в котором 4 подъезда. Номер подъезда начинается с единицы. На одном этаже – 4 квартиры. Напишите программу, которая от пользователя получает номер квартиры и выводит номер подъезда, этажа и номер на этаже для заданной квартиры. Если такой квартиры нет в этом доме, то нужно известить юзера об этом.

In [33]:
n = int(input('n>>'))

if n % 2:
  res = 'Odd'
else:
  res = 'Even'

print(res)

res = 'Odd' if n % 2 else 'Even'
print(res)

n>>123
Odd
Odd

In [35]:
import random


salary = random.randint(1000, 5000)
print(salary)
salary_netto = salary * (0.5 if salary > 3000 else 0.65)

print(salary_netto)

3528
1764.0

In [39]:
text = input('text>>')

if not text:
  print('Empty string')

text>>yuuiyuiyui

In [ ]:
# BAD STYLE
if len(text) == 0:
  print('Empty string')

# BAD STYLE
if text == '':
  print('Empty string')

In [40]:
t = int(input('T>>'))
money = int(input('money>>'))

if t > 20 and money > 1000:
  print('Cinema')

T>>5000
money>>6000
Cinema

In [43]:
year = int(input('year>>'))

if year % 4 == 0:
  if year % 100 == 0:
    if year % 400 == 0:
      print('Leap')
    else:
      print('Not leap')
  else:
    print('Leap')
else:
  print('Not leap')

year>>2024
Leap

In [44]:
res = 'Leap' if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0) else 'Not leap'
print(res)

Leap