<a href="https://colab.research.google.com/github/cpython-projects/da_2603/blob/main/lesson_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = {12, 56, 11, 11, 12, 11, 11}
print(x)

{56, 11, 12}

In [2]:
x = {1, 3, 5, 'Hello', 56.67, (9, 8, 7)}
print(x)

{1, 3, 5, (9, 8, 7), 'Hello', 56.67}

In [3]:
for item in x:
  print(item)

1
3
5
(9, 8, 7)
Hello
56.67

In [4]:
1 in x

True

In [5]:
100 in x

False

In [6]:
20 not in x

True

In [7]:
1 not in x

False

In [8]:
x = 'Hello world!'
y = set(x)

print(y)

{'o', 'r', 'd', 'H', ' ', 'w', '!', 'l', 'e'}

In [10]:
import random


names = [
    "Alice", "Bob", "Charlie", "Diana", "Edward", "Fiona", "George", "Hannah", "Ian", "Julia",
    "Kevin", "Laura", "Michael", "Nina", "Oscar", "Paula", "Quentin", "Rachel", "Steve", "Tina",
    "Ulysses", "Vera", "William", "Xenia", "Yvonne", "Zach", "Amy", "Brian", "Catherine", "Daniel"
]


graph = {}

for name in names:
    friends = set(random.sample([n for n in names if n != name], random.randint(3, 7)))
    graph[name] = friends

for k, v in list(graph.items())[:5]:
    print(f"{k}: {v}")

Alice: {'Yvonne', 'George', 'Diana', 'Brian'}
Bob: {'Tina', 'Fiona', 'Paula', 'Alice'}
Charlie: {'George', 'Yvonne', 'Nina', 'Kevin', 'Ian', 'Brian', 'Daniel'}
Diana: {'Julia', 'William', 'Fiona', 'Nina', 'Oscar', 'Tina'}
Edward: {'Laura', 'Ian', 'Hannah', 'Oscar'}

In [11]:
friends = {
    'Alice': {'Yvonne', 'George', 'Diana', 'Brian'},
    'Bob': {'Tina', 'Fiona', 'Paula', 'Alice'},
    'Charlie': {'George', 'Yvonne', 'Nina', 'Kevin', 'Ian', 'Brian', 'Daniel'},
    'Diana': {'Julia', 'William', 'Fiona', 'Nina', 'Oscar', 'Tina'},
    'Edward': {'Laura', 'Ian', 'Hannah', 'Oscar'},
}

In [15]:
main_users = set(friends.keys())

res = set.union(*friends.values())
res |= main_users
print(len(res))

20

In [18]:
oscar = {'Oscar'}

for key, value in friends.items():
  if 'Oscar' in value:
    oscar.add(key)

  if 'Diana' in value:
    friends['Diana'].add(key)

print(oscar)
print(friends['Diana'] - oscar)

{'Edward', 'Diana', 'Oscar'}
{'Julia', 'William', 'Fiona', 'Nina', 'Tina', 'Alice'}