<a href="https://colab.research.google.com/github/cpython-projects/da_2603/blob/main/lesson_15_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 1.** Загрузите датасет Titanic (https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv)

**Task 2.** Оставьте только нужные столбцы ('PassengerId', 'Name', 'Age', 'Sex', 'Survived', 'SibSp', 'Parch', 'Fare', 'Pclass', 'Embarked')

**Task 3.**  
*   Выведите количество строк и столбцов
*   Сколько уникальных значений в столбце Embarked?
*   Какой максимальный и минимальный возраст пассажиров?

**Task 4.**
*   Добавьте столбец IsAlone, в котором будет True, если пассажир путешествовал один (FamilySize == 1), иначе False
*   Переименуйте колонку Sex в Gender

**Task 5.**
*   Выведите всех женщин, путешествовавших в 1-м классе (Pclass == 1)
*   Найдите мужчин, которые ехали с 2 или более родственниками (FamilySize >= 3) и не выжили
*   Выведите пассажиров, которые заплатили за билет больше 100

**Task 6.**
*  Отсортируйте пассажиров по стоимости билета в порядке убывания
*  Выведите 10 самых молодых выживших пассажиров
*  Отсортируйте по Pclass и затем по Age по возрастанию

**Task 7.**
Влияет ли размер семьи на шанс выживания?

**Task 8.** Были ли различия в выживании среди пассажиров с разными титулами (Mr, Mrs, Dr и т.д.)?