<a href="https://colab.research.google.com/github/cpython-projects/da_2603/blob/main/lesson_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

In [ ]:
DB_NAME = 'school'

In [ ]:
conn = sqlite3.connect(DB_NAME)

In [ ]:
cursor = conn.cursor()

In [ ]:
create_student = """
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    date_of_birth DATE NOT NULL
);
"""

In [ ]:
cursor.execute(create_student)

In [ ]:
create_teacher = """
CREATE TABLE IF NOT EXISTS teachers (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL
);
"""

In [ ]:
cursor.execute(create_teacher)

In [ ]:
create_group = """
CREATE TABLE IF NOT EXISTS course (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    desc TEXT NOT NULL
);
"""

In [ ]:
cursor.execute(create_group)

In [ ]:
create_group = """
CREATE TABLE IF NOT EXISTS groups (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    course_id INTEGER NOT NULL,
    FOREIGN KEY (course_id)
        REFERENCES course(id)
        ON DELETE RESTRICT
);
"""

In [ ]:
cursor.execute(create_group)

In [ ]:
conn.commit()

In [ ]:
conn.close()