<a href="https://colab.research.google.com/github/cpython-projects/da_2603/blob/main/lesson_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def add(a, b):
  return a + b


print(add(1, 2))

3

In [2]:
print(1)
print(1, 2, 3, 4, 5)
print(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

1
1 2 3 4 5
1 2 3 4 5 1 2 3 4 5

In [3]:
def add(*args):
  print(type(args))
  print(args)


add(1, 2, 3, 4, 5, 6, 7, 8)
add()
add(1)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8)
<class 'tuple'>
()
<class 'tuple'>
(1,)

In [6]:
def add(*args):
  total = 0
  for item in args:
    if isinstance(item, int | float):
      total += item
  return total


print(add(1, 2, '3', '4'))

data = [1, 2, 3, 4]
print(add(*data))

3
10

In [14]:
def calc(*args, **kwargs):
  res = None

  if kwargs.get('operator') == '+':
    res = 0
    for item in args:
      res += item
  elif kwargs.get('operator') == '*':
    res = 1
    for item in args:
      res *= item

  add_res = None
  if kwargs.get('additional') == 'min':
    add_res = min(args)
  elif kwargs.get('additional') == 'max':
    add_res = max(args)

  return res, add_res


print(calc(1, 2, operator='*', additional='max'))
print(calc(1, 2))

(2, 2)
(None, None)

In [15]:
clients = [
    {'name': 'Alice', 'age': 28, 'country': 'USA'},
    {'name': 'Bob', 'age': 35, 'country': 'Canada'},
    {'name': 'Carol', 'age': 40, 'country': 'USA'},
]

def filter_clients(clients, **kwargs):
  filtered_clients = []
  if kwargs.get('country'):
    for item in clients:
      if item['country'] == kwargs['country']:
        filtered_clients.append(item)
  if kwargs.get('age'):
    ...

  return filtered_clients


print(filter_clients(clients, country='USA'))
print(filter_clients(clients, min_age=35))
print(filter_clients(clients, country='USA', max_age=35))

print(filter_clients(clients, country='USA'))

[{'name': 'Alice', 'age': 28, 'country': 'USA'}, {'name': 'Carol', 'age': 40, 'country': 'USA'}]
[]
[{'name': 'Alice', 'age': 28, 'country': 'USA'}, {'name': 'Carol', 'age': 40, 'country': 'USA'}]
[{'name': 'Alice', 'age': 28, 'country': 'USA'}, {'name': 'Carol', 'age': 40, 'country': 'USA'}]

In [16]:
def add(a, b):
  return a + b


x = add

print(x(1, 2))

3

In [17]:
def filter(func, data):
  res = []
  for item in data:
    if func(item):
      res.append(item)
  return res

data = [1, 2, 3, 4, 5, 6, 7]
filtered_data = filter(lambda x: x % 2 == 0, data)
print(filtered_data)

[2, 4, 6]

In [20]:
# zip, map, filter, reduce, all, any, min, max, sorted, sum


prices = [1, 2, 3, 4]
quantities = [10, 20, 30, 40]
total = 0
for a, b in zip(prices, quantities):
  total += a * b
print(total)

300

In [22]:
x = [1, 2, 3, 4, 5]

y = [item ** 2 for item in x]

print(x)
print(y)


y = list(map(lambda item: item ** 2, x))
print(y)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [23]:
names = ['alice', 'BOB', 'CarOL']


res = list(map(lambda item: item.title(), names))
print(res)

['Alice', 'Bob', 'Carol']

In [24]:
x = [1, 2, 3, 4, 5, 6]
res = sum(x)
print(res)

21

In [26]:
x = [('Alice', 23), ('Bob', 12), ('Jack', 234)]

res = 0
for name, item in x:
  res += item

print(res)

269

In [28]:
prices = [1, 2, 3, 4]
quantities = [10, 20, 30, 40]

res = sum(map(lambda item: item[0] * item[1], zip(prices, quantities)))
print(res)

300

In [32]:
x = [-1, -23, 23, 34, 12, 23, 34, 32, 33, 35]

res = filter(lambda item: item > 0, x)
print(list(res))

res = filter(lambda item: item < 0, x)
print(list(res))

res = filter(lambda item: item > 10, x)
print(list(res))

[23, 34, 12, 23, 34, 32, 33, 35]
[-1, -23]
[23, 34, 12, 23, 34, 32, 33, 35]

In [35]:
clients = [
    {'name': 'Alice', 'age': 28, 'country': 'USA'},
    {'name': 'Bob', 'age': 35, 'country': 'Canada'},
    {'name': 'Carol', 'age': 40, 'country': 'USA'},
]

res = filter(lambda item: item['country'] == 'USA', clients)
print(*list(res), sep='\n')

res = filter(lambda item: item['age'] > 30, clients)
print(*list(res), sep='\n')

{'name': 'Alice', 'age': 28, 'country': 'USA'}
{'name': 'Carol', 'age': 40, 'country': 'USA'}
{'name': 'Bob', 'age': 35, 'country': 'Canada'}
{'name': 'Carol', 'age': 40, 'country': 'USA'}

In [36]:
from functools import reduce


help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, iterable[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence
    or iterable, from left to right, so as to reduce the iterable to a single
    value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the iterable in the calculation, and serves as a default when the
    iterable is empty.

In [38]:
x = [1, 2, 3, 4, 5]

res = reduce(lambda a, b: a + b, x)
print(res)

import operator
res = reduce(operator.add, x)
print(res)

15
15

In [ ]:
# all, any, min, max, sorted

In [41]:
x = [2, 4, 5, 6, 10, 30, 12, 43, 12]

print(not all(x))

False

In [43]:
x = [0, 0, 0, 0, 0, 0]

any(x)

False

In [45]:
clients = [
    {'name': 'Alice', 'age': 28, 'country': 'USA'},
    {'name': 'Bob', 'age': 35, 'country': 'Canada'},
    {'name': 'Carol', 'age': 40, 'country': 'USA'},
]

res = min(clients, key=lambda item: item['age'])
print(res)

{'name': 'Alice', 'age': 28, 'country': 'USA'}

In [46]:
clients = [
    (12, 23, 34),
    (12, 27, 34, 3),
    (12, 28, 34, 45, 56),
]

res = max(clients, key=lambda item: item[1])
print(res)

(12, 28, 34, 45, 56)

In [48]:
clients = [
    (120, 23),
    (12, 27, 34, 3),
    (12, 28, 34, 45, 56),
]

def func(item: tuple):
  return item[2] if len(item) > 2 else item[0]

res = max(clients, key=func)
print(res)

res = max(clients, key=lambda item: item[2] if len(item) > 2 else item[0])
print(res)

(120, 23)
(120, 23)

In [49]:
weights = [
    '12kg',
    '2gr',
    '234'
]


def weight_convertor(item):
  if 'kg' in item:
    return float(item.replace('kg', '')) * 1000
  if 'gr' in item:
    return float(item.replace('gr', ''))
  return float(item)


res = max(weights, key=weight_convertor)
print(res)

12kg

In [54]:
clients = [
    {'name': 'Alice', 'age': 28, 'country': 'USA'},
    {'name': 'Bob', 'age': 35, 'country': 'Canada'},
    {'name': 'Jack', 'age': 40, 'country': 'USA'},
    {'name': 'Carol', 'age': 70, 'country': 'USA'},
    {'name': 'Ivan', 'age': 80, 'country': 'USA'},
    {'name': 'Petro', 'age': 90, 'country': 'USA'},
    {'name': 'David', 'age': 55, 'country': 'USA'},
]

res = sorted(clients, key=lambda item: item['age'])
print(*res[:-4:-1], sep='\n')

{'name': 'Petro', 'age': 90, 'country': 'USA'}
{'name': 'Ivan', 'age': 80, 'country': 'USA'}
{'name': 'Carol', 'age': 70, 'country': 'USA'}

In [53]:
res = sorted(clients, key=lambda item: item['age'], reverse=True)
print(*res[:3], sep='\n')

{'name': 'Petro', 'age': 90, 'country': 'USA'}
{'name': 'Ivan', 'age': 80, 'country': 'USA'}
{'name': 'Carol', 'age': 70, 'country': 'USA'}