<a href="https://colab.research.google.com/github/cpython-projects/da_2603/blob/main/lesson_05_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 1.** Напишите программу, которая выводит все четные числа от 1 до 20.

In [4]:
x = list(range(2, 21, 2))
print(x)

print(*range(2, 21, 2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
2 4 6 8 10 12 14 16 18 20

**Task 2.** Напишите программу, которая суммирует все числа от 1 до 100.

In [6]:
res = sum(range(101))
print(res)

5050

**Task 3.** Напишите программу, которая просит пользователя ввести число и продолжает спрашивать, пока не будет введено число, кратное 3.

In [7]:
while True:
  ans = int(input('number>>'))
  if ans % 3 == 0:
    break

number>>23
number>>22
number>>21

**Task 4.** Напишите программу, которая запрашивает у пользователя числа и выводит их сумму, пока сумма не превысит 100.

In [8]:
s = 0
while s <= 100:
  s += int(input('number>>'))
print(s)

number>>2
number>>98
number>>1
101

**Task 5.** Напишите программу, которая просит пользователя вводить числа до тех пор, пока он не введет два подряд одинаковых числа.

In [10]:
current = int(input('number>>'))
prev = None
while True:
  if prev == current:
    break
  prev, current = current, int(input('number>>'))

number>>12
number>>23
number>>23

**Task 6.** Напишите скрипт, который выводит целые числа от 1 до 200, используя цикл while. В одной строке необходимо вывести только пять целых чисел.
Например:  
1 2 3 4 5  
6 7 8 9 10  
11 12 13 14 15  
...

In [12]:
# i = 1
# while i <= 200:
#   print(i, end=' ')
#   if i % 5 == 0:
#     print()
#   i += 1


for i in range(1, 201, 5):
  print(*range(i, i + 5))

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25
26 27 28 29 30
31 32 33 34 35
36 37 38 39 40
41 42 43 44 45
46 47 48 49 50
51 52 53 54 55
56 57 58 59 60
61 62 63 64 65
66 67 68 69 70
71 72 73 74 75
76 77 78 79 80
81 82 83 84 85
86 87 88 89 90
91 92 93 94 95
96 97 98 99 100
101 102 103 104 105
106 107 108 109 110
111 112 113 114 115
116 117 118 119 120
121 122 123 124 125
126 127 128 129 130
131 132 133 134 135
136 137 138 139 140
141 142 143 144 145
146 147 148 149 150
151 152 153 154 155
156 157 158 159 160
161 162 163 164 165
166 167 168 169 170
171 172 173 174 175
176 177 178 179 180
181 182 183 184 185
186 187 188 189 190
191 192 193 194 195
196 197 198 199 200

**Task 7.** Напишите скрипт, который вычисляет с помощью цикла факториал числа n (n вводится с клавиатуры).

In [13]:
n = int(input('number>>'))
res = 1
for i in range(1, n + 1):
  res *= i
print(res)

number>>5
120

**Task 8.**
Создайте список случайных чисел (размером 4 элемента).
Создайте второй список в два раза больше первого, где первые 4 элемента должны быть равны элементам первого списка, а остальные элементы - удвоенным значениям начальных. Например:  
Было → [1,4,7,2]  
Стало → [1,4,7,2,2,8,14,4]

In [15]:
import random
x = [random.randint(1, 10) for _ in range(4)]
y = x + [i * 2 for i in x]
print(x)
print(y)

[4, 8, 4, 5]
[4, 8, 4, 5, 8, 16, 8, 10]

**Task 9.** Создайте список из 12 элементов. Каждый элемент этого списка является зарплатой работника за месяц. Выведите этот список на экран и вычислите среднемесячную зарплату этого работника.

In [16]:
salary = [random.randint(100, 1_000) for _ in range(12)]
print(salary)
print(f'Avg: {sum(salary) / len(salary):.2f}')

[459, 651, 556, 506, 106, 809, 843, 739, 525, 380, 265, 872]
Avg: 559.25

**Task 10.** Есть матрица  
[1, 2, 3, 4]  
[5, 6, 7, 8]  
[9, 10, 11, 12]  
[13, 14, 15, 16]  
Напишите скрипт, который выведет эту матрицу на экран, вычислит и выведет сумму элементов этой матрицы.

In [19]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
]

for row in matrix:
  print(*row, sep='\t')


s = 0
for row in matrix:
  s += sum(row)
print(s)

1	2	3	4
5	6	7	8
9	10	11	12
13	14	15	16
136

**Task 11.** Напишите код для зеркального переворота списка [7,2,9,4] -> [4,9,2,7]. Список может быть произвольной длины.

In [20]:
x = [1, 2, 3, 4]
print(x[::-1])

[4, 3, 2, 1]

In [21]:
x = [1, 2, 3, 4]
x.reverse()
print(x)

[4, 3, 2, 1]

In [22]:
x = [1, 2, 3, 4]
for i in reversed(x):
  print(i, end=' ')

4 3 2 1

**Task 12.** Проверка на монотонное возрастание. Дана последовательность чисел (ввод по одному числу, 0 — конец ввода). Определи, идет ли последовательность строго по возрастанию.

In [ ]:
x = []
while True:
  ans = int(input('number>>'))
  if ans == 0:
    break
  x.append(ans)

# for i in range(1, len(x)):
#   if x[i - 1] > x[i]:
#     print('False')
#     break
# else:
#   print('True')

flag = True
for i in range(1, len(x)):
  if x[i - 1] > x[i]:
    flag = False
    break
print(flag)

**Task 13.** Пользователь вводит последовательность чисел, каждое с новой строки. Ввод завершается числом 0. Необходимо найти все числа, которые отклоняются от среднего значения последовательности более чем на 10%

In [23]:
x = []
while True:
  ans = int(input('number>>'))
  if ans == 0:
    break
  x.append(ans)


avg_10 = sum(x) / len(x) * 0.1
for item in x:
  if item > avg_10:
    print(item1)

number>>23
number>>34
number>>23
number>>2
number>>1
number>>23
number>>1
number>>100
number>>0
23
34
23
23
100