<a href="https://colab.research.google.com/github/cpython-projects/da_2603/blob/main/lesson_15_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 1.** Загрузите датасет Titanic (https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv)

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**Task 2.** Оставьте только нужные столбцы ('PassengerId', 'Name', 'Age', 'Sex', 'Survived', 'SibSp', 'Parch', 'Fare', 'Pclass', 'Embarked')

In [2]:
df = df[['PassengerId', 'Name', 'Age', 'Sex', 'Survived', 'SibSp', 'Parch', 'Fare', 'Pclass', 'Embarked']]
df.head()

,PassengerId,Name,Age,Sex,Survived,SibSp,Parch,Fare,Pclass,Embarked
0,1,"Braund, Mr. Owen Harris",22.0,male,0,1,0,7.2500,3,S
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,female,1,1,0,71.2833,1,C
2,3,"Heikkinen, Miss. Laina",26.0,female,1,0,0,7.9250,3,S
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,female,1,1,0,53.1000,1,S
4,5,"Allen, Mr. William Henry",35.0,male,0,0,0,8.0500,3,S

**Task 3.**  
*   Выведите количество строк и столбцов
*   Сколько уникальных значений в столбце Embarked?
*   Какой максимальный и минимальный возраст пассажиров?

In [3]:
df.shape

(891, 10)

In [4]:
df.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [5]:
len(df.Embarked.unique())

4

In [6]:
df.Embarked.nunique()

3

In [7]:
df.Age.min()

0.42

In [8]:
df.Age.max()

80.0

**Task 4.**
*   Добавьте столбец IsAlone, в котором будет True, если пассажир путешествовал один (FamilySize == 1), иначе False
*   Переименуйте колонку Sex в Gender

In [9]:
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
df.head()

,PassengerId,Name,Age,Sex,Survived,SibSp,Parch,Fare,Pclass,Embarked,FamilySize
0,1,"Braund, Mr. Owen Harris",22.0,male,0,1,0,7.2500,3,S,2
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,female,1,1,0,71.2833,1,C,2
2,3,"Heikkinen, Miss. Laina",26.0,female,1,0,0,7.9250,3,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,female,1,1,0,53.1000,1,S,2
4,5,"Allen, Mr. William Henry",35.0,male,0,0,0,8.0500,3,S,1

In [10]:
df['IsAlone'] = df['FamilySize'] == 1
df.head()

,PassengerId,Name,Age,Sex,Survived,SibSp,Parch,Fare,Pclass,Embarked,FamilySize,IsAlone
0,1,"Braund, Mr. Owen Harris",22.0,male,0,1,0,7.2500,3,S,2,False
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,female,1,1,0,71.2833,1,C,2,False
2,3,"Heikkinen, Miss. Laina",26.0,female,1,0,0,7.9250,3,S,1,True
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,female,1,1,0,53.1000,1,S,2,False
4,5,"Allen, Mr. William Henry",35.0,male,0,0,0,8.0500,3,S,1,True

In [11]:
df.rename(columns={'Sex': 'Gender'}, inplace=True)
df.head()

,PassengerId,Name,Age,Gender,Survived,SibSp,Parch,Fare,Pclass,Embarked,FamilySize,IsAlone
0,1,"Braund, Mr. Owen Harris",22.0,male,0,1,0,7.2500,3,S,2,False
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,female,1,1,0,71.2833,1,C,2,False
2,3,"Heikkinen, Miss. Laina",26.0,female,1,0,0,7.9250,3,S,1,True
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,female,1,1,0,53.1000,1,S,2,False
4,5,"Allen, Mr. William Henry",35.0,male,0,0,0,8.0500,3,S,1,True

**Task 5.**
*   Выведите всех женщин, путешествовавших в 1-м классе (Pclass == 1)
*   Найдите мужчин, которые ехали с 2 или более родственниками (FamilySize >= 3) и не выжили
*   Выведите пассажиров, которые заплатили за билет больше 100

In [12]:
df_female_fc = df[(df.Gender == 'female') & (df.Pclass == 1)] # & | ~
df_female_fc.head()

,PassengerId,Name,Age,Gender,Survived,SibSp,Parch,Fare,Pclass,Embarked,FamilySize,IsAlone
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,female,1,1,0,71.2833,1,C,2,False
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,female,1,1,0,53.1000,1,S,2,False
11,12,"Bonnell, Miss. Elizabeth",58.0,female,1,0,0,26.5500,1,S,1,True
31,32,"Spencer, Mrs. William Augustus (Marie Eugenie)",NaN,female,1,1,0,146.5208,1,C,2,False
52,53,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",49.0,female,1,1,0,76.7292,1,C,2,False

In [14]:
df_male_na = df[(df.Gender == 'male') & (df.FamilySize >= 3) & (df.Survived == 0)]
df_male_na.shape

(65, 12)

In [15]:
df_amount100 = df[df.Fare > 100]
df_amount100.shape

(53, 12)

**Task 6.**
*  Отсортируйте пассажиров по стоимости билета в порядке убывания
*  Выведите 10 самых молодых выживших пассажиров
*  Отсортируйте по Pclass и затем по Age по возрастанию

In [16]:
df.sort_values('Fare', ascending=False, inplace=True)
df.head()

,PassengerId,Name,Age,Gender,Survived,SibSp,Parch,Fare,Pclass,Embarked,FamilySize,IsAlone
679,680,"Cardeza, Mr. Thomas Drake Martinez",36.0,male,1,0,1,512.3292,1,C,2,False
258,259,"Ward, Miss. Anna",35.0,female,1,0,0,512.3292,1,C,1,True
737,738,"Lesurer, Mr. Gustave J",35.0,male,1,0,0,512.3292,1,C,1,True
88,89,"Fortune, Miss. Mabel Helen",23.0,female,1,3,2,263.0000,1,S,6,False
438,439,"Fortune, Mr. Mark",64.0,male,0,1,4,263.0000,1,S,6,False

In [17]:
df_young = df[df.Survived == 1].sort_values('Age', ascending=True)
df_young.head(10)

,PassengerId,Name,Age,Gender,Survived,SibSp,Parch,Fare,Pclass,Embarked,FamilySize,IsAlone
803,804,"Thomas, Master. Assad Alexander",0.42,male,1,0,1,8.5167,3,C,2,False
755,756,"Hamalainen, Master. Viljo",0.67,male,1,1,1,14.5000,2,S,3,False
469,470,"Baclini, Miss. Helene Barbara",0.75,female,1,2,1,19.2583,3,C,4,False
644,645,"Baclini, Miss. Eugenie",0.75,female,1,2,1,19.2583,3,C,4,False
78,79,"Caldwell, Master. Alden Gates",0.83,male,1,0,2,29.0000,2,S,3,False
831,832,"Richards, Master. George Sibley",0.83,male,1,1,1,18.7500,2,S,3,False
305,306,"Allison, Master. Hudson Trevor",0.92,male,1,1,2,151.5500,1,S,4,False
172,173,"Johnson, Miss. Eleanor Ileen",1.00,female,1,1,1,11.1333,3,S,3,False
827,828,"Mallet, Master. Andre",1.00,male,1,0,2,37.0042,2,C,3,False
183,184,"Becker, Master. Richard F",1.00,male,1,2,1,39.0000,2,S,4,False

In [18]:
df.sort_values(['Pclass', 'Age'], ascending=[True, True], inplace=True)
df.head()

,PassengerId,Name,Age,Gender,Survived,SibSp,Parch,Fare,Pclass,Embarked,FamilySize,IsAlone
305,306,"Allison, Master. Hudson Trevor",0.92,male,1,1,2,151.5500,1,S,4,False
297,298,"Allison, Miss. Helen Loraine",2.00,female,0,1,2,151.5500,1,S,4,False
445,446,"Dodge, Master. Washington",4.00,male,1,0,2,81.8583,1,S,3,False
802,803,"Carter, Master. William Thornton II",11.00,male,1,1,2,120.0000,1,S,4,False
435,436,"Carter, Miss. Lucile Polk",14.00,female,1,1,2,120.0000,1,S,4,False

**Task 7.**
Влияет ли размер семьи на шанс выживания?

In [19]:
df.FamilySize.unique()

array([ 4,  3,  2,  1,  5,  6,  8,  7, 11])

In [23]:
# for i in df.FamilySize.unique():
#   print(f'{i}: {df[df.FamilySize == i].Survived.mean()}')

res = {}
for i in df.FamilySize.unique():
  res[i] = df[df.FamilySize == i].Survived.mean()

print(max(res, key=res.get))

4

**Task 8.** Были ли различия в выживании среди пассажиров с разными титулами (Mr, Mrs, Dr и т.д.)?

In [26]:
for item in ('Mr.', 'Mrs.', 'Ms.', 'Miss.', 'Dr.', 'Master.'):
  new_df = df[df['Name'].str.contains(item)]
  print(f'{item}: {new_df.Survived.mean()}')

Mr.: 0.28438948995363217
Mrs.: 0.7906976744186046
Ms.: 1.0
Miss.: 0.6978021978021978
Dr.: 0.5454545454545454
Master.: 0.575