<a href="https://colab.research.google.com/github/cpython-projects/da_2603/blob/main/lesson_11_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 1.** Дан список транзакций, например:

```python
transactions = [1200, -500, 300, -50, 900, -2000]
```

Используя `lambda`, `filter`, `map`, разделите транзакции на "доходы" и "расходы", затем создайте список меток (`"Income"` или `"Expense"`), соответствующих каждой транзакции.

In [6]:
transactions = [1200, -500, 300, -50, 900, -2000]
income = list(filter(lambda x: x > 0, transactions))
expense = list(filter(lambda x: x < 0, transactions))
labels = list(map(lambda x: "Income" if x > 0 else "Expense", transactions))

In [7]:
print(income)
print(expense)
print(labels)

[1200, 300, 900]
[-500, -50, -2000]
['Income', 'Expense', 'Income', 'Expense', 'Income', 'Expense']

**Task 2.** Дан список записей (словарей) клиентов:

```python
clients = [{'name': 'Alice', 'email': 'alice@mail.com'},
           {'name': 'Bob', 'email': ''},
           {'name': '', 'email': 'carol@mail.com'}]
```

Проверьте, все ли клиенты заполнили свои данные (`all`), и есть ли среди них хотя бы один с полностью заполненной анкетой (`any`).

In [8]:
clients = [{'name': 'Alice', 'email': 'alice@mail.com'},
           {'name': 'Bob', 'email': ''},
           {'name': '', 'email': 'carol@mail.com'}]


all_fill = all([item.get('name') and item.get('email') for item in clients])
any_fill = any([item.get('name') and item.get('email') for item in clients])

print(all_fill)
print(any_fill)

False
True

In [9]:
clients = [{'name': 'Alice', 'email': 'alice@mail.com'},
           {'name': 'Bob', 'email': ''},
           {'name': '', 'email': 'carol@mail.com'}]


all_fill = all(map(lambda item: item.get('name') and item.get('email'), clients))
any_fill = any(map(lambda item: item.get('name') and item.get('email'), clients))

print(all_fill)
print(any_fill)

False
True

In [10]:
import random
import sys

x = [random.randint(1, 1_000) for i in range(200)]
print(sys.getsizeof(x))

1656

In [11]:
y = [item ** 3 for item in x]
print(sys.getsizeof(y))

1656

In [12]:
y = map(lambda item: item ** 3, x)
print(sys.getsizeof(y))

48

**Task 3.** У вас есть два списка: даты и значения температуры.

```python
dates = ['2023-01-01', '2023-01-02', '2023-01-03']
temps = [5.5, 3.2, 4.0]
```

С помощью `zip` объедините их в пары и найдите дату с самой низкой температурой.

In [16]:
dates = ['2023-01-01', '2023-01-02', '2023-01-03']
temps = [5.5, 3.2, 4.0]

temp_date = zip(temps, dates)
# print(*temp_date)

In [17]:
min(temp_date)

(3.2, '2023-01-02')

In [21]:
dates = ['2023-01-01', '2023-01-02', '2023-01-03']
temps = [5.5, 3.2, 4.0]

temp_date = zip(dates, temps)

In [22]:
min(temp_date, key=lambda item: item[1])

('2023-01-02', 3.2)

**Task 4.** Дан список ежедневных новых пользователей:

```python
new_users = [10, 15, 7, 20]
```

С помощью `reduce` рассчитайте общее количество пользователей по дням (кумулятивно) и найдите день, когда число пользователей впервые превысило 30.

In [34]:
from functools import reduce
from operator import add

new_users = [10, 15, 7, 20]

flag = True
for i in range(1, len(new_users) + 1):
    tmp = new_users[:i]
    res = reduce(add, tmp)
    if res > 30 and flag:
        print(i)
        flag = False
    print(res)

10
25
3
32
52

**Task 5.** Напишите функцию average_columns(*args), которая принимает произвольное количество списков одинаковой длины — это могут быть числовые значения по разным метрикам (например, продажи, расходы, клики). Функция должна возвращать список средних значений по позициям, то есть по столбцам.

Пример вызова функции:
```python
average_columns([10, 20, 30], [20, 30, 40], [30, 40, 50])
# → [20.0, 30.0, 40.0]
```

In [35]:
import statistics

def average_columns(*args):
  res = []
  for seq in args:
    res.append(statistics.mean(seq))
  return res

average_columns([10, 20, 30], [20, 30, 40], [30, 40, 50])

[20, 30, 40]

**Task 6.** Напишите функцию filter_clients(clients, **criteria), которая принимает список клиентов (словарей) и произвольное количество фильтров (например, min_age, country). Функция должна возвращать только тех клиентов, которые удовлетворяют всем заданным критериям.

Поддерживаемые фильтры:
-  min_age: минимальный возраст
-  max_age: максимальный возраст
-  country: страна

Пример входных данных:
```python
clients = [
    {'name': 'Alice', 'age': 28, 'country': 'USA'},
    {'name': 'Bob', 'age': 35, 'country': 'Canada'},
    {'name': 'Carol', 'age': 40, 'country': 'USA'},
]

filter_clients(clients, min_age=30, country='USA')
# → [{'name': 'Carol', 'age': 40, 'country': 'USA'}]
```

In [37]:
def filter_clients(clients, **criteria):
  res = clients
  if criteria.get('min_age'):
    res = filter(lambda item: item['age'] >= criteria['min_age'], res)
  if criteria.get('max_age'):
    res = filter(lambda item: item['age'] <= criteria['max_age'], res)
  if criteria.get('country'):
    res = filter(lambda item: item['country'] == criteria['country'], res)

  return res

In [39]:
clients = [
    {'name': 'Alice', 'age': 28, 'country': 'USA'},
    {'name': 'Bob', 'age': 35, 'country': 'Canada'},
    {'name': 'Carol', 'age': 40, 'country': 'USA'},
]

list(filter_clients(clients, min_age=30, country='USA'))
# → [{'name': 'Carol', 'age': 40, 'country': 'USA'}]

[{'name': 'Carol', 'age': 40, 'country': 'USA'}]

In [40]:
def filter_clients(clients, filters):
  res = clients

  for f in filters:
    res = filter(f, res)

  return res

funcs = [
    lambda item: item['age'] >= 30,
    lambda item: item['country'] == 'USA'
]

list(filter_clients(clients, funcs))

[{'name': 'Carol', 'age': 40, 'country': 'USA'}]