<a href="https://colab.research.google.com/github/cpython-projects/da_2603/blob/main/lesson_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [3]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
df.dropna(axis=1, inplace=True)
df

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000
4,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500
...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,13.0000
887,888,1,1,"Graham, Miss. Margaret Edith",female,0,0,112053,30.0000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,23.4500
889,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,30.0000
890,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,7.7500

In [5]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
SibSp          0
Parch          0
Ticket         0
Fare           0
dtype: int64

In [7]:
df.duplicated().sum()

np.int64(0)

In [8]:
from google.colab import files
uploaded = files.upload()

Saving session_04_data.csv to session_04_data.csv

In [9]:
df = pd.read_csv('session_04_data.csv')
df

,Unnamed: 0,ID,Name,gender,Age,Salary ($),Hire Date,Country,Weight
0,0,1,Alice,F,25,50000.0,2023-01-10,USA,70kg
1,1,2,Bob,M,Thirty,60000.0,2022-12-05,U.S.A.,154lbs
2,2,3,CHARLIE,M,40,NaN,01/15/2021,UK,65kg
3,3,4,Dave,M,22,70000.0,"March 1, 2020",United Kingdom,140lbs
4,4,5,Eve,F,NaN,80000.0,2021-07-20,canada,75kg
5,5,6,Frank,M,35,120000.0,08/10/2019,Canada,165lbs
6,6,7,George,M,29,NaN,2020-05-30,Germany,80kg
7,7,8,Hannah,F,33,150000.0,"July 4, 2018",France,180lbs
8,8,9,Isaac,M,45,200000.0,06-01-2017,France,90kg
9,9,10,Jack,M,Twenty,250000.0,2016-09-15,Brazil,200lbs
10,10,5,Eve,F,NaN,80000.0,2021-07-20,canada,75kg
11,11,6,Frank,M,35,120000.0,08/10/2019,Canada,165lbs

In [10]:
df.head()

,Unnamed: 0,ID,Name,gender,Age,Salary ($),Hire Date,Country,Weight
0,0,1,Alice,F,25,50000.0,2023-01-10,USA,70kg
1,1,2,Bob,M,Thirty,60000.0,2022-12-05,U.S.A.,154lbs
2,2,3,CHARLIE,M,40,NaN,01/15/2021,UK,65kg
3,3,4,Dave,M,22,70000.0,"March 1, 2020",United Kingdom,140lbs
4,4,5,Eve,F,NaN,80000.0,2021-07-20,canada,75kg

In [11]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

,ID,Name,gender,Age,Salary ($),Hire Date,Country,Weight
0,1,Alice,F,25,50000.0,2023-01-10,USA,70kg
1,2,Bob,M,Thirty,60000.0,2022-12-05,U.S.A.,154lbs
2,3,CHARLIE,M,40,NaN,01/15/2021,UK,65kg
3,4,Dave,M,22,70000.0,"March 1, 2020",United Kingdom,140lbs
4,5,Eve,F,NaN,80000.0,2021-07-20,canada,75kg

In [13]:
df.columns.tolist()

['ID', 'Name', 'gender', 'Age', 'Salary ($)', 'Hire Date', 'Country', 'Weight']

In [14]:
columns = {
    'ID': 'id',
    'Name': 'user_name',
    'Age': 'age',
    'Salary ($)': 'user_salary',
    'Hire Date': 'hire_date',
    'Country': 'country',
    'Weight': 'weight'
}
df.rename(columns=columns, inplace=True)
df.head()

,id,user_name,gender,age,user_salary,hire_date,country,weight
0,1,Alice,F,25,50000.0,2023-01-10,USA,70kg
1,2,Bob,M,Thirty,60000.0,2022-12-05,U.S.A.,154lbs
2,3,CHARLIE,M,40,NaN,01/15/2021,UK,65kg
3,4,Dave,M,22,70000.0,"March 1, 2020",United Kingdom,140lbs
4,5,Eve,F,NaN,80000.0,2021-07-20,canada,75kg

In [16]:
df.duplicated().sum()

np.int64(2)

In [18]:
df.drop_duplicates(inplace=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           10 non-null     int64
 1   user_name    10 non-null     object
 2   gender       10 non-null     object
 3   age          9 non-null      object
 4   user_salary  8 non-null      float64
 5   hire_date    10 non-null     object
 6   country      10 non-null     object
 7   weight       10 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 720.0+ bytes

In [21]:
df.age.unique()

array(['25', 'Thirty', '40', '22', nan, '35', '29', '33', '45', 'Twenty'],
      dtype=object)

In [22]:
df.age.replace({'Thirty': 30, 'Twenty': 20}, inplace=True)
df.age.unique()

array(['25', 30, '40', '22', nan, '35', '29', '33', '45', 20],
      dtype=object)

In [23]:
df['age'] = pd.to_numeric(df.age, errors='coerce')

In [24]:
df.age.unique()

array([25., 30., 40., 22., nan, 35., 29., 33., 45., 20.])

In [28]:
df['age']  = df.age.fillna(df.age.mean())
df.age.unique()

array([25., 30., 40., 22., 31., 35., 29., 33., 45., 20.])

In [29]:
df.hire_date.unique()

array(['2023-01-10', '2022-12-05', '01/15/2021', 'March 1, 2020',
       '2021-07-20', '08/10/2019', '2020-05-30', 'July 4, 2018',
       '06-01-2017', '2016-09-15'], dtype=object)

In [31]:
from dateutil import parser

def date_parser(item):
  if pd.isna(item): # pd.notna(item)
    return item
  return parser.parse(item).strftime('%Y-%m-%d')

df['hire_date'] = df.hire_date.apply(date_parser)
df.hire_date.unique()

array(['2023-01-10', '2022-12-05', '2021-01-15', '2020-03-01',
       '2021-07-20', '2019-08-10', '2020-05-30', '2018-07-04',
       '2017-06-01', '2016-09-15'], dtype=object)

In [32]:
df.hire_date = pd.to_datetime(df.hire_date, format='%Y-%m-%d')
df.hire_date.unique()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           10 non-null     int64
 1   user_name    10 non-null     object
 2   gender       10 non-null     object
 3   age          10 non-null     float64
 4   user_salary  8 non-null      float64
 5   hire_date    10 non-null     datetime64[ns]
 6   country      10 non-null     object
 7   weight       10 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 720.0+ bytes

In [33]:
df.country.unique()

array(['USA', 'U.S.A.', 'UK', 'United Kingdom', 'canada', 'Canada',
       'Germany', 'France', 'Brazil'], dtype=object)

In [37]:
df.country = df.country.replace({'U.S.A.': 'USA', 'United Kingdom': 'UK'})
df.country = df.country.str.strip().str.title()
df.country.unique()

array(['Usa', 'Uk', 'Canada', 'Germany', 'France', 'Brazil'], dtype=object)

In [38]:
def convert_weigh(item):
  if pd.isna(item):
    return item

  if 'kg' in item.lower():
    return float(item.replace('kg', ''))

  if 'lbs' in item.lower():
    return float(item.replace('lbs', '')) * 0.453592

  return item


df.weight = df.weight.apply(convert_weigh)

In [39]:
df

   id user_name gender   age  user_salary  hire_date  country     weight
0   1     Alice      F  25.0      50000.0 2023-01-10      Usa  70.000000
1   2     Bob        M  30.0      60000.0 2022-12-05      Usa  69.853168
2   3   CHARLIE      M  40.0          NaN 2021-01-15       Uk  65.000000
3   4      Dave      M  22.0      70000.0 2020-03-01       Uk  63.502880
4   5       Eve      F  31.0      80000.0 2021-07-20   Canada  75.000000
5   6     Frank      M  35.0     120000.0 2019-08-10   Canada  74.842680
6   7    George      M  29.0          NaN 2020-05-30  Germany  80.000000
7   8    Hannah      F  33.0     150000.0 2018-07-04   France  81.646560
8   9     Isaac      M  45.0     200000.0 2017-06-01   France  90.000000
9  10      Jack      M  20.0     250000.0 2016-09-15   Brazil  90.718400

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           10 non-null     int64
 1   user_name    10 non-null     object
 2   gender       10 non-null     object
 3   age          10 non-null     float64
 4   user_salary  8 non-null      float64
 5   hire_date    10 non-null     datetime64[ns]
 6   country      10 non-null     object
 7   weight       10 non-null     float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 720.0+ bytes

In [41]:
df.gender = df.gender.astype('category')
df.country = df.country.astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           10 non-null     int64
 1   user_name    10 non-null     object
 2   gender       10 non-null     category
 3   age          10 non-null     float64
 4   user_salary  8 non-null      float64
 5   hire_date    10 non-null     datetime64[ns]
 6   country      10 non-null     category
 7   weight       10 non-null     float64
dtypes: category(2), datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 924.0+ bytes

In [42]:
df.user_salary.fillna(df.user_salary.median(), inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           10 non-null     int64
 1   user_name    10 non-null     object
 2   gender       10 non-null     category
 3   age          10 non-null     float64
 4   user_salary  10 non-null     float64
 5   hire_date    10 non-null     datetime64[ns]
 6   country      10 non-null     category
 7   weight       10 non-null     float64
dtypes: category(2), datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 924.0+ bytes

<ipython-input-42-6ec473251048>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.user_salary.fillna(df.user_salary.median(), inplace=True)